.google-button {
    font-family: inherit;
    text-decoration: none;
    color: #666;
    font-size: 1em;
    height: 37px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding: 0 7px;
    cursor: pointer;
}